*{
    /*margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
/*--- Scroll Personalizado---*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background-image: radial-gradient(circle at 48.78% 46.64%, #156b9d 0, #102a3f 50%, #000000 100%);
}
/*--------------------------------------------------*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-image: radial-gradient(circle at 48.78% 46.64%, #156b9d 0, #102a3f 50%, #000000 100%);
    color: white;
    font-family: 'Playfair Display', serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto 1fr auto;    
}
.social{
    background-image: radial-gradient(circle at 48.78% 46.64%, #156b9d 0, #102a3f 50%, #000000 100%);

    grid-row: 1/2;
    grid-column: 1/4;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.redes{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.redes a img{
    width: 40px;
    height: 40px;
}
.logo{
    
    margin-left: 50px;
    align-items: center;

}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.nombre{
    font-style: italic;
    font-weight: 900;
    font-size: 1.5em;
    
}
/*--- menu personalizado---*/
.header {
    grid-row: 2/3;
    grid-column: 1/4;

    border-top: 1px solid;
    border-bottom: 1px solid;

    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    overflow: hidden;   
}
.header ul{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.header ul li{
    list-style: none;
}

.header ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;  
}
.header ul li a:hover{
    color: rgba(255,255,255,0.1);
    transform: translateY(-5px);
}
/*-- esto es para definir formato y acciones de la letra pequeña*/
.header ul li a::before{
    content: attr(data-text);
    position:absolute;
    bottom: -9px;
    left: 2px;
    pointer-events: none;
    z-index: 1;
    font-size: 0.50em;
    color: #3bffe8;
    font-weight: 600;
    letter-spacing: 100px;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 0 10px #3bffe8,
    0 0 30px #3bffe8,
    0 0 80px #3bffe8;
}
.header ul li a:hover::before{
    letter-spacing: 6px;
    opacity: 1;
}
/*------------------------------*/
.destacado{
    
    grid-row: 3/4;
    grid-column: 2/3;
    height: 660px;
    
    text-align: center;

    z-index: 1;
    font-size: 2rem;
    font-style: italic;
}

/*--- Slider automatico(muestra imagenes)---*/
.slider{
    
    grid-row: 3/5;
    grid-column: 1/4; 
    
    width: 90%;
    height: 750px;
    overflow: hidden;
    opacity: 0.7;
    margin: auto;
}
.slider ul{
    margin: 0;
    display: flex;
    
  
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    
    width: 100%;
    list-style: none;
}
.slider img{
    
    width: 100%;
    height: 750px;
}

/*---- Definimos el comportamiento de los img*/
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*-------------------------------------*/

.botonimagen{
    position:relative;
}

.btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    opacity: 0;

    /*--- posicionar el boton sobre la imgpeli---*/
    position: absolute;
    top: 0;
   
    height: 23em;
    width: 17em;
}
.btn:hover{
    
    opacity: 1;
    transition: 1s;
    transform: scale(1.1);
}
.btn img{
    width: 100px;
    height: 100px;
}
/*--------------------------------------*/
.promos{  
    grid-row: 4/6;
    grid-column: 2/3;
    
    display: flex;
    justify-content: space-evenly;
    z-index: 1;

    height: 10rem;
}
.promo img{
    width: 10rem;
    height: 10rem; 
    
}

.peliculas{
    grid-row: 6/7;
    grid-column: 2/3;   
}
.cuadritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
.imgpeli{
    width: 100%;
    height: 23em;
    
}
.titulopelicula{
    text-align: center;
    
}
.pelicula{
    width: 300px;

    align-items: center;
    text-align: center;
    padding: 10px;
    border: 5px solid;
    border-color: #102b3f; 
    border-radius: 10px;
}
.imagenes{
    
    grid-row: 7/8;
    grid-column: 2/3;
    
}
.footer{
    
    grid-row: 8/9;
    grid-column: 2/3;
    background-color: #30344D; 
}
.footer p{
text-align: center;
font-size: small;
}